* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
  }
//TYPOGRAPHY
$h1-sm: clamp(2.4rem, 1.41vw + 2.07rem, 3.2rem);
$h1-base: clamp(3rem, 1.77vw + 2.59rem, 4rem);
$h1-md: clamp(3.75rem, 2.21vw + 3.23rem, 5rem);
$h1-lg: clamp(4.69rem, 2.76vw + 4.04rem, 6.25rem);
$h1-xl: clamp(5.86rem, 3.45vw + 5.05rem, 7.81rem);
$h1-xxl: clamp(7.32rem, 4.32vw + 6.31rem, 9.77rem);
$h1-xxxl: clamp(9.16rem, 5.4vw + 7.89rem, 12.21rem);

//h2

//h3
$h3-sm: clamp(1.06rem, 0.47vw + 0.94rem, 1.31rem);
$h3-base: clamp(1.4rem, 0.63vw + 1.25rem, 1.75rem);
$h3-md: clamp(1.87rem, 0.85vw + 1.66rem, 2.33rem);
$h3-lg: clamp(2.48rem, 1.14vw + 2.2rem, 3.11rem);
$h3-xl: clamp(3.3rem, 1.53vw + 2.92rem, 4.15rem);
$h3-xxl: clamp(4.39rem, 2.06vw + 3.88rem, 5.53rem);
$h3-xxxl: clamp(5.84rem, 2.77vw + 5.15rem, 7.37rem);

//h4
$h4-sm: clamp(0.9rem, 0.53vw + 0.78rem, 1.2rem);
$h4-base: clamp(1.13rem, 0.66vw + 0.97rem, 1.5rem);
$h4-md: clamp(1.41rem, 0.83vw + 1.21rem, 1.88rem);
$h4-lg: clamp(1.76rem, 1.04vw + 1.52rem, 2.34rem);
$h4-xl: clamp(2.2rem, 1.29vw + 1.89rem, 2.93rem);
$h4-xxl: clamp(2.75rem, 1.62vw + 2.37rem, 3.66rem);
$h4-xxxl: clamp(3.43rem, 2.02vw + 2.96rem, 4.58rem);


//p
$p-sm: clamp(0.9rem, 0.3vw + 0.83rem, 1.2rem);
$p-base: clamp(1.13rem, 0.37vw + 1.04rem, 1.5rem);
$p-md: clamp(1.41rem, 0.47vw + 1.3rem, 1.88rem);
$p-lg: clamp(1.76rem, 0.58vw + 1.62rem, 2.34rem);
$p-xl: clamp(2.2rem, 0.73vw + 2.03rem, 2.93rem);
$p-xxl: clamp(2.75rem, 0.91vw + 2.53rem, 3.66rem);
$p-xxxl: clamp(3.43rem, 1.14vw + 3.17rem, 4.58rem);

  
  html {
    background-color: $white;
    color: $black;
    font-size: 1em;
    scroll-behavior: smooth;
  }
  body {
    overflow-x: hidden;
    overscroll-behavior: none;
    scroll-snap-type: y mandatory;
    font-family: $p-font;
  }
  p {
   font-size: $p-sm;
    font-family: $p-font;
    font-weight: 400;
    max-width: 62ch;
  }
  @media(min-width:2440px) {
    p,label {
      font-size: $p-base;
    }
  }
  @media(min-width:3200px) {
    p {
      font-size: $p-md;
    }
  }
  @media(min-width:4800px) {
    p {
      font-size: $p-md;
    }
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  img {
    max-width: 100%;
    object-fit: cover;
  }
  ul{
    list-style: none;
  }
  li {
    font-family: $p-font;
  }
  h1,h2,h3, h4, h5 {
    font-weight: bold;
    font-family: $h1-font;
  }
  h1 {
    font-size: $h1-base;
  }

  .h1-style {
    font-size: clamp(3rem, 1.675vw + 2.66rem, 4rem);
  }
     
    @media(min-width:1960px) {
      h1 {
        font-size: $h1-md;
      }
      .h1-style {
        font-size: $h1-md;
      }
    } 
    
    @media(min-width:2440px) {
      h1 {
        font-size: $h1-lg;
      }
      .h1-style {
        font-size: $h1-lg;
      }
    }
    @media(min-width:3200px) {
      h1 {
        font-size: $h1-xl;
      }
      .h1-style {
        font-size: $h1-xl;
      }
    }
    @media(min-width:4000px) {
      h1 {
        font-size: $h1-xxl;
      }
      .h1-style {
        font-size: $h1-xxl;
      }
    }

  h2 {
    font-size: clamp(1.85rem, 1.089vw + 1.629rem, 2.5rem);
    line-height: clamp(2.775rem, 0.796vw + 2.613rem, 3.25rem);
  }
  .h2-style {
    font-size: clamp(1.85rem, 1.089vw + 1.629rem, 2.5rem);
    line-height: clamp(2.775rem, 0.796vw + 2.613rem, 3.25rem);
  }
  h3 {
    font-size: $h3-base;
    line-height: clamp(2.063rem, 0.356vw + 1.99rem, 2.275rem);
  }
  .h3-style {
    font-size: $h3-base;
    line-height: clamp(2.063rem, 0.356vw + 1.99rem, 2.275rem);
  }
  h4 {
    font-size: $h4-base;
  }
  .h4-style {
    font-size: $h4-base;
    line-height: clamp(1.688rem, 0.44vw + 1.598rem, 1.95rem);
  }
  @media(min-width:1960px) {
    h3, .h3-style {
      font-size: $h3-md;
    }
    h4 {
      font-size: $h4-md;
    }
    .h4-style {
      font-size: $h4-md;
    }
  }
  @media(min-width:2440px) {
    h3, .h3-style {
      font-size: $h3-lg;
    }
    h4 {
      font-size: $h4-lg;
    }
    .h4-style {
      font-size: $h4-lg;
    }
  }
  @media(min-width:3200px) {
    h4 {
      font-size: $h4-xl;
    }
    .h4-style {
      font-size: $h4-xl;
    }
  }
  @media(min-width:4000px) {
    h4 {
      font-size: $h4-xxl;
    }
    .h4-style {
      font-size: $h4-xxl;
    }
  }

  h5 {
    font-size: clamp(0.875rem, 0.209vw + 0.832rem, 1rem);
    line-height: clamp(1.3rem, -0.021vw + 1.317rem, 1.313rem);
  }
  .h5-style {
    font-size: clamp(0.875rem, 0.209vw + 0.832rem, 1rem);
    line-height: clamp(1.3rem, -0.021vw + 1.317rem, 1.313rem);
  }
   a {
    font-family: $h1-font;
    font-weight: 500;
  }
  .layout-wrapper {
    padding: 1rem 3rem;
    margin: 0 auto;
  }
//social media icons
  .social-btn {
    list-style: none;
    transition: all 0.2s ease;
  }
  .social-btn:hover {
    transform: scale(1.05);
  }
  .social-btn:active {
    transform: scale(0.95);
  }


