//Sass variables

// fonts
$h1-font: "Satoshi-Bold", sans-serif;
$font-Inter: "Inter", sans-serif;
$font-size: 0.8rem;
// colours
$black: #131218;
$white: #F5F3EF;
$grey: #E6E6E6;
$skyblue: #AEE0EB;
// borders
$border: 1px solid $grey;