/* BurgerMenu.css */
.burger-menu-container {
    position: relative;
  }
  .hide-desktop {
    display: block;
  }
  
  .menu-btn {

    width: 5.6875rem;
    height: 2.4375rem;
    background: $black;
    color: $white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;  
    padding: 0;
    z-index: 1;
    transition: all 0.3s ease;
    border: 1.5px solid transparent;
  }
  .menu-btn:hover {
    background-color: transparent;
    border: 1.5px solid $black;
    color: $black;
  }
  .menu-btn:active {
    transform: scale(0.95);
  }

  .close-btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 2.5rem 2rem 3rem 0rem;
    border-bottom: 1px solid $grey;
  }
  
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 0;
  }
  
  .menu-content {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100vw;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  @media only screen and (min-width: 768px) {
    .menu-content {
      width: 50vw;
    }
    .hide-desktop {
      display: none;
    }
  }
  .burger-links ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 3rem;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .burger-links {
    margin-top: 5rem;
  }
  .burger-link {
    font-weight: 600;
    font-size: 2rem;
    font-family: $h1-font;
    text-transform: uppercase;
    transition: all 0.2s;
  }


  .burger-link:hover {
     cursor: pointer;
     padding-left: 0.5rem;
  }  
  .show {
    transform: translateX(0);
  }
  
  .menu-bottom-icons ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; 
    gap: 2rem;
  }
  .menu-bottom-icons li {
    list-style: none;
    transition: all 0.2s ease;
  }
  .menu-bottom-icons li:hover {
    transform: scale(1.05);
  }
  .menu-bottom-icons li:active {
    transform: scale(0.95);
  }
  .menu-bottom-icons {
    border-top: 1px solid $grey;
    padding-top: 2rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
    width: 100%;
  }
  .social-btn a img  {
    height: 39px;
    width: 39px;
  }
  .menu-bottom {
    display: flex;
    flex-direction: column;
  }
  .email-link {
    text-align: center;
  }
  .email-link:active {
    transform: scale(0.95);
  }
  .email-link:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
    text-decoration-color: $skyblue;
  }